<% layout("layouts/boilerplate") %>

<div class="container mt-4">
  <h3>Edit Your Listing</h3>

  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input 
        type="text" 
        name="listing[title]" 
        class="form-control"
        value="<%= listing.title %>" 
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea 
        name="listing[description]" 
        class="form-control" 
        rows="4" 
        required><%= listing.description %></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input 
        type="text" 
        name="listing[image]" 
        class="form-control"
        value="<%= listing.image %>">
    </div>

    <div class="mb-3">
      <label class="form-label">Price</label>
      <input 
        type="number" 
        name="listing[price]" 
        class="form-control"
        value="<%= listing.price %>" 
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input 
        type="text" 
        name="listing[location]" 
        class="form-control"
        value="<%= listing.location %>" 
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Country</label>
      <input 
        type="text" 
        name="listing[country]" 
        class="form-control"
        value="<%= listing.country %>" 
        required>
    </div>

    <button class="btn add-btn">Update</button>
  </form>
</div>